@layer {
  .fc td,
  .fc th {
    @apply border !border-theme-border dark:!border-themedark-border;
  }

  .fc .fc-toolbar {
    @apply flex items-center justify-between max-sm:flex-col max-sm:gap-2;
  }
  .fc .fc-toolbar h2 {
    @apply uppercase text-[16px] leading-[30px];
  }
  .fc .fc-toolbar .fc-left,
  .fc .fc-toolbar .fc-right,
  .fc .fc-toolbar .fc-center {
    @apply max-md:float-none max-md:block max-md:text-center max-md:my-2.5 max-md:mx-0;
  }
  .fc .fc-toolbar > * > * {
    @apply max-md:float-none;
  }
  .fc .fc-today-button {
    @apply max-md:hidden rounded-full text-white !bg-primary-500 border-primary-500;
  }
  .fc .fc-button {
    @apply capitalize;
  }
  .fc .fc-daygrid-day-top {
    @apply p-[14px] flex-col;
  }
  .fc .fc-col-header-cell {
    @apply border-0 bg-transparent;
  }
  .fc .fc-col-header-cell-cushion {
    @apply block py-4 px-1;
  }
  .fc .fc-scrollgrid-section .fc-scroller-harness {
    @apply p-0;
  }
  .fc .fc-daygrid-day-number {
    @apply w-6 h-6 rounded-lg p-0 flex items-center justify-center text-sm m-0.5 hover:bg-secondary-500 hover:text-white;
  }
  .fc .fc-daygrid-day.fc-day-today {
    @apply !bg-primary-500/10 bg-cover;
  }
  .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    @apply !bg-primary-500 text-white;
  }
  .fc .fc-timegrid-col.fc-day-today {
    @apply !bg-primary-500/10;
  }
  .fc .fc-col-header,
  .fc .fc-daygrid-body,
  .fc .fc-scrollgrid-sync-table {
    @apply !w-full;
  }
  .fc .fc-scrollgrid-section-sticky > * {
    @apply !bg-theme-cardbg dark:!bg-themedark-cardbg;
  }
  .fc .fc-scrollgrid-section > * {
    @apply border-l border-t border-theme-border;
  }
  .fc .fc-scrollgrid-section-liquid > td {
    @apply border-t-0;
  }
  .fc a[data-navlink] {
    @apply no-underline hover:no-underline;
  }
  .fc-theme-bootstrap a:not([href]) {
    @apply text-theme-bodycolor dark:text-themedark-bodycolor;
  }
  .fc-theme-standard .fc-scrollgrid {
    @apply border-0 !border-theme-border dark:!border-themedark-border;
  }
  .fc-theme-standard .fc-list {
    @apply !border-theme-border dark:!border-themedark-border;
  }
  .fc-h-event .fc-event-main {
    @apply !text-primary-500;
  }
  .fc-event-title,
  .fc-sticky {
    @apply font-semibold truncate;
  }
  .fc-daygrid-event-dot {
    @apply !border-white hidden;
  }
  .fc-list-day-cushion {
    @apply !bg-theme-cardbg dark:!bg-themedark-cardbg;
  }
  .fc .fc-list-event:hover td {
    @apply !bg-theme-cardbg dark:!bg-themedark-cardbg;
  }
  .fc-event-time {
    @apply hidden;
  }
  .fc-event,
  .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-dark .fc-content {
    @apply text-white;
  }
  .fc-prev-button.fc-button,
  .fc-next-button.fc-button {
    @apply inline-block items-center justify-center relative w-[34px] h-[34px] !rounded text-base !p-0;
  }
  .fc-toolbar-chunk {
    @apply max-md:flex-col max-md:gap-4;
  }
  .fc-toolbar-chunk .d-inline-flex .fc-button {
    @apply text-primary-500 !bg-primary-500/15 border-0 shadow-none !rounded;
  }
  .fc-toolbar-chunk .d-inline-flex .fc-button:not(:first-child) {
    @apply !ml-[5px];
  }
  .fc-toolbar-chunk .d-inline-flex .fc-button:focus,
  .fc-toolbar-chunk .d-inline-flex .fc-button:hover,
  .fc-toolbar-chunk .d-inline-flex .fc-button.active {
    @apply !text-white !bg-primary-500;
  }
  .fc-toolbar-chunk .fc-button-primary {
    @apply !bg-primary-500/10 !text-primary-500 !border-primary-500 p-[9px_16px] focus:shadow-none;
  }
  .fc-toolbar-chunk .fc-button-primary:focus,
  .fc-toolbar-chunk .fc-button-primary:hover {
    @apply !text-white !bg-primary-500;
  }
  .fc-toolbar-chunk .fc-button-primary:not(:disabled).fc-button-active,
  .fc-toolbar-chunk .fc-button-primary:not(:disabled):active {
    @apply !text-white !bg-primary-500 focus:shadow-none;
  }
  .fc-toolbar-chunk .fc-today-button {
    @apply !rounded !text-white !bg-primary-500 border-primary-500;
  }
  .fc-daygrid-event-harness .fc-daygrid-event,
  .fc-timegrid-event-harness .fc-daygrid-event {
    @apply backdrop-blur-sm;
  }
  .fc-timegrid-slots table tr,
  .fc-list-table {
    @apply !border-theme-border dark:!border-themedark-border;
  }
  .fc-event {
    @apply !bg-primary-500/10 text-primary-500 rounded cursor-move text-base m-[5px_7px] p-[5px] text-center border border-primary-500;
  }
  .fc-event.event-primary {
    @apply !bg-primary-500/10 text-primary-500 border-primary-500;
  }
  .fc-event.event-primary.fc-h-event .fc-event-main {
    @apply text-primary-500;
  }
  .fc-event.event-secondary {
    @apply !bg-secondary-500/10 !text-secondary-500 !border-secondary-500;
  }
  .fc-event.event-secondary.fc-h-event .fc-event-main {
    @apply !text-secondary-500;
  }
  .fc-event.event-success {
    @apply !bg-success-500/10 !text-success-500 !border-success-500;
  }
  .fc-event.event-success.fc-h-event .fc-event-main {
    @apply !text-success-500;
  }
  .fc-event.event-danger {
    @apply !bg-danger-500/10 !text-danger-500 !border-danger-500;
  }
  .fc-event.event-danger.fc-h-event .fc-event-main {
    @apply !text-danger-500;
  }
  .fc-event.event-warning {
    @apply !bg-warning-500/10 !text-warning-500 !border-warning-500;
  }
  .fc-event.event-warning.fc-h-event .fc-event-main {
    @apply !text-warning-500;
  }
  .fc-event.event-info {
    @apply !bg-info-500/10 !text-info-500 !border-info-500;
  }
  .fc-event.event-info.fc-h-event .fc-event-main {
    @apply !text-info-500;
  }
  .fc-daygrid-event-harness .fc-daygrid-event.bg-soft-dark .fc-event-main,
  .fc-daygrid-event-harness .fc-daygrid-event.bg-soft-dark .fc-event-title {
    @apply !text-dark-500;
  }
  .fc-v-event .fc-event-main {
    @apply text-inherit;
  }
  .simplebar-scrollbar {
    @apply absolute ltr:right-px rtl:left-px w-1.5 before:absolute before:bg-slate-500 before:rounded-md before:left-0 before:right-0 before:opacity-0;
    min-height: 10px;
  }
  .simplebar-scrollbar:before {
    content: ' ';
    transition: opacity 0.2s linear;
  }
  .simplebar-scrollbar.simplebar-visible:before {
    opacity: theme('opacity.50');
    transition: opacity 0s linear;
  }
}
